
form {  
    background-color: #ffffff;

  }

h2 {
  text-align: center;
}

label {
  display: flex;
  margin-top: 8px;
}

input[type="email"],input[type="password"] {
  width: 100%;
  padding: 10px;
}

button {
  justify-content: center;
  width: 100%;
  background-color: #044040;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #044040;
}

.software{
  color: #fff;
  text-align: center;
}

p{
  align-items: center;
  font-size: xx-small;
  color: #424242;
}


.info
{
  background-color: #044040;
}

