
form {  
    background-color: #ffffff;
    width: 100%;
    align-items: center;
  }

h2 {
  text-align: center;
}

label {
  display: flex;
  margin-top: 8px;
  
}
.px-5{
  padding-left: calc(6vw) !important;
  padding-right: calc(6vw) !important;
}

input[type="email"],input[type="password"] {
  width: 100%;
  padding: 10px;
  
}

button {
  justify-content: center;
  width: 55%;
  background-color: #044040;
  color: #fff;
  padding: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 10px;
  border-radius: 60px ;
}

button:hover {
  background-color: #033131;
}

.software{
  color: #fff;
  text-align: center;
}

p{
  align-items: center;
  font-size: xx-small;
  color: #424242;
}


.info
{
  background-color: #044040;
}

