/* Backgroun color */
.navbar {
    background-color: #95BFA4;
  }
  
  /* Margin */
  .navbar {
    margin: 20px 0;
    margin-left: 35px;
    margin-right: 35px;
    height: 65px;
    border-radius: 20px;
    font-family: spline;
   
  }
  
  .nav-item.bold a{
    font-weight: bold;
    font-family: 'FuentePrincipal';
    color: black;
  }

 

  .nav-item {
    margin-left: 10px; /* Ajusta el valor según tus necesidades */
    margin-right: 10px; /* Ajusta el valor según tus necesidades */
  }
  

  
  
  @font-face {
    font-family: "FuentePrincipal";
    src: url('fonts/SplineSans-Bold.ttf') format('ttf');
  }

 